{% extends '../registration/sign_up.html' %}

{% block header %}
<header class="simple-header d-flex align-items-center">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5  justify-content-center align-items-between text-center">
            <div class="col">
                <h1 class="fs-1 text-center text-white">Connectez-vous à votre profil !</h1>
            </div>
        </div>
    </div>
</header>
{% endblock%}
{% block content%}
<main class="container main-registration">
  <section class="intro-section">
    <div class="main-instructions">
      <p class="font-weight-bold text-body">Connectez vous à votre compte Pur Beurre !</p>
    </div>
  </section>
  <section class="registration-main-section">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary account-btn">Se connecter</button>
        </form>
        <div class="further-instructions">
          <p class="text-body">Vous n'avez pas de compte ?</p>
          <a class="text-body fw-bold text-decoration-underline" href="{% url 'sign_up' %}">Incrivez-vous !</a>
        </div>
  </section>
</main>
{% endblock%}
