{% extends 'product/product_list.html' %}
{% load static %}
{% block content%}
<section class="main-section">
    <div class="row">
        {% if favorite_list %}
            {% for fav in favorite_list%}
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex col-card justify-content-center">
                    <div class="card product-card d-flex flex-column ">
                        <img src="{{fav.picture}}" class="card-img-top product-img img-fluid rounded d-block align-m">
                        <p class="card-title">{{fav.name}}</p>

                            <i class="bi bi-info-circle"></i>
                        </a>
                        <div class="card-score card-score-color-{{ fav.nutriscore }} text-center" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="Nutriscore, de A (très bon) à ''E'' (Très mauvais)">{{fav.nutriscore}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text_danger">Vous n'avez pas encore de favoris !</p>
        {% endif %}
    </div>
</section>
{% endblock%}
