{% extends 'product/product_list.html' %}
{% load static %}
{% block content%}
<section class="main-section">
    <div class="row">
        {% if object_list  %}
            {% for substitute in product_list %}
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex col-card justify-content-center">
                    <div class="card product-card d-flex flex-column ">
                        <img src="{{substitute.picture}}" class="card-img-top product-img img-fluid rounded d-block align-m">
                        <p class="card-title">{{substitute.name}}</p>
                        <a  name="detail_substitute"   href="{% url 'detail_substitute' substitute_id=substitute.id %}" value='{{request.GET.search_substitute}}'>
                            <i class="bi bi-info-circle"></i>
                        </a>
                         {% if user.is_authenticated %}
                         <form class="substitute_saved" method="post" action="{% url 'favorites_list' %}">
                         {% csrf_token %}
                         <input type="hidden" name="product_id" value="{{ product.id }}">
                         <input type="hidden" name="substitute_product_id" value="{{ substitute.id }}">
                         <p>{{substitute.id}}</p>
                         <p>{{product.id}}</p>
                         <button type="submit" class="d-flex justify-content-center align-items-center btn btn-link btn-choice"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Enregistrer ce substitut dans vos favoris">
                            <i class="bi bi-heart"></i>
                            </button>
                         </form>
                         {% endif %}
                        <div class="card-score card-score-color-{{ substitute.nutriscore }} text-center" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="Nutriscore, de A (très bon) à ''E'' (Très mauvais)">{{substitute.nutriscore}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text_danger">Il n'y a pas de substitut ici</p>
        {% endif %}
    </div>
</section>
{% endblock%}

